page-chat {

  .elem button {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .elem {
    position: relative;
    min-width: 50px;
  }
  div#footer div.elem:first-child {
    flex-grow: 1;
  }
  div#footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  ion-input {
    padding-left: 15px;
    font-size: 125%;
  }

}